:root {
    --dark-gray: hsl( 0, 0%, 20%);
    --light-green: hsl( 120, 70%, 50%);
}
body {
    background-color: #0120f1;
}
canvas {
    background-color: #ffffff;
    border: 5px dashed var(--light-green);
}
.App {
    padding: 1em;
}
